<div bsModal #positionEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit position</h5>
        <div class="modal-title-buttons">
          <button type="button" class="btn btn-danger"
                  (click)="deleteEntityComponent.openDeleteEntityDialog(position)">Delete
          </button>
          <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
        </div>
      </div>
      <div class="text-center mt-5" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="modal-body" *ngIf="!isLoading">
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{ msg }}</p>
        </div>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="position.name"
                   name="name"
                   [disabled]="!isAdmin || position.name === 'HR Manager' || position.name === 'System Administrator'">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="position.description"
                   name="description" [disabled]="!isAdmin">
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="!isLoading">
        <button type="button" class="btn btn-secondary" (click)="positionEditModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Update</button>
      </div>
    </div>
  </div>
</div>

<app-delete-entity *ngIf="position" (deleteSuccess)="updateSuccess.emit()"></app-delete-entity>
