<footer class="footer navbar-light custom-bg px-4 py-3">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="footer-left">
      <img src="assets/logo.png" alt="Logo" class="footer-logo">
    </div>
    <div class="footer-right">
      <a href="https://github.com/HarkushaVlad/HR-forge" target="_blank" class="footer-link">
        <i class="fab fa-github"></i>&nbsp;GitHub
      </a>
      <span class="footer-text">Harkusha Vladyslav</span>
      <a href="mailto:contact@example.com" class="footer-link">
        <i class="fas fa-envelope"></i>&nbsp;Зв'язок
      </a>
    </div>
  </div>
  <div class="footer-year">
    <span class="footer-text">&copy; 2024</span>
  </div>
</footer>
