<div class="card">
  <div class="copy-body" [ngClass]="{'visible': isCopied}">
    <p>Copied</p>
  </div>
  <div class="card-body">
    <p class="name" (click)="copyToClipboard(position.name)">
      <strong>Position:</strong> {{ position.name }}
    </p>
    <p class="description" (click)="copyToClipboard(position.description)">
      <strong>Description:</strong> {{ position.description | truncate:50 }}
    </p>
    <button (click)="editPosition()" class="btn btn-primary">Edit</button>
  </div>
</div>
