<div class="card">
  <div class="copy-body" [ngClass]="{'visible': isCopied}">
    <p>Скопійовано</p>
  </div>
  <div class="card-body">
    <p class="name" (click)="copyToClipboard(department.name)">
      <strong>Департамент:</strong> {{ department.name }}
    </p>
    <p class="description" (click)="copyToClipboard(department.description)">
      <strong>Опис:</strong> {{ department.description === '' ? 'No description' : department.description | truncate:45 }}
    </p>
    <button (click)="editDepartment()" class="btn btn-primary">Редагувати</button>
  </div>
</div>
