.workspace-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.employees-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.department-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 20px;
}

.position-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 20px;
}

.pagination {
  margin-top: 10px;
}

@media (max-width: 820px) {
  .employees-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.radio-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
}

.radio-label, .sort-options label {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-label:nth-child(4) {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.radio-label:hover, .sort-options label:hover {
  background-color: #f0f0f0;
}

.radio-label.disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 290px) {
  .radio-label {
    font-size: 0.9em;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="radio"]:checked + .radio-label {
  background-color: #007bff;
  color: white;
}

.sort-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  flex-wrap: wrap;

  select {
    width: 200px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      border-color: #007bff;
    }

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
}

@media (max-width: 500px) {
  .sort-options {
    flex-direction: column;
  }
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input[type="text"] {
  width: 250px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  font-size: 1em;
}

.search-container input[type="text"]:hover {
  border-color: #007bff;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-container button {
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}

.search-container button:last-child:hover {
  background-color: #a0a0a0;
}

@media (max-width: 500px) {
  .search-container {
    flex-direction: column;
  }

  .search-container-buttons {
    flex-direction: row-reverse;
  }

  .search-container button {
    width: 112px;
  }

  .search-container input[type="text"] {
    width: 235px;
    padding: 6px;
  }
}

