<div bsModal #updatePasswordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Змінити пароль</h5>
      </div>
      <div class="text-center mt-5" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Завантаження...</span>
        </div>
      </div>
      <div class="modal-body" *ngIf="!isLoading">
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
          <p *ngFor="let msg of errorMsg">{{ msg }}</p>
        </div>
        <form>
          <div class="mb-3" *ngIf="isPersonal">
            <label for="oldPassword" class="form-label">Старий пароль</label>
            <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword">
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Новий пароль</label>
            <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword">
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Підтвердження нового паролю</label>
            <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword"
                   name="confirmPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="!isLoading">
        <button type="button" class="btn btn-secondary" (click)="updatePasswordModal.hide()">Відмінити</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Оновити пароль</button>
      </div>
    </div>
  </div>
</div>
